.bgcontainer{
  display:flex;
  flex-direction: column;
  width:100vw;
  height:100vh;
  align-items: center;
  padding-top: 0px;
}
.addcountrycontainer{
  display: flex;
  justify-content: space-between;
  width:50vw;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.countryinput{
  border-radius: 10px;
  flex-grow: 1;
  margin-right: 20px;
  box-shadow: 0px 4px 16px 0px #c7c6c5;
  font-family: 'Calibri';
  font-size: 18px;
  font-weight: normal;
  border: 1px solid #b8b8b8;
}
.addcountrybutton{
  padding:10px;
  border-radius: 10px;
  background-color: blue;
  color:#ffffff;
  font-family: 'Calibri';
  font-size: 18px;
  border:none;
  cursor: pointer;
  outline: none;
}
.maincontainer{
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}